.swiftpm/xcode/package.xcworkspace/xcuserdata/haiderawan.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/haiderawan.xcuserdatad/xcschemes/xcschememanagement.plist
